// -----------------------------------------------------------------------------
//   List and list item element partial
// -----------------------------------------------------------------------------

ul {

  html[dir='ltr'] & {
    padding-left: 1em;
  }

  html[dir='rtl'] & {
    padding-right: 1em;
  }

}

li + li {
  margin-top: 0.8em;
}
