// -----------------------------------------------------------------------------
//   Layout output partial
// -----------------------------------------------------------------------------

@use 'config' as layout-config; // Configure layout.

body {
  margin:   0;
  padding:  0;
}

.layout-container {
  // These two are required for the reveal overlay.
  position:   relative;
  overflow-x: hidden;

  max-width: layout-config.$max-width;

  margin-left:  auto;
  margin-right: auto;

  padding: layout-config.$viewport-padding;
}

.layout-header {
  @supports (display: flex) and (box-sizing: border-box) and (scroll-padding-top: 1px) {
    position: fixed;

    z-index: index(layout-config.$stacking-order, header);

    display: flex;

    width: 100%;

    margin-top:   layout-config.$viewport-padding * -1;
    margin-left:  layout-config.$viewport-padding * -1;
    margin-right: layout-config.$viewport-padding * -1;

    padding: layout-config.$viewport-padding;

    box-sizing: border-box;
  }
}

.persistent-promo {
  z-index: index(layout-config.$stacking-order, persistent-promo);
}

.layout-section {
  min-height: calc(
    100vh - #{layout-config.$viewport-padding * 3} -
    #{layout-config.$header-height}
  );

  // This accounts for the fixed header over the first section.
  &:first-child {
    margin-top: layout-config.$viewport-padding + layout-config.$header-height;
  }

  z-index: index(layout-config.$stacking-order, content);
}

.layout-section + .layout-section,
footer[role='contentinfo'] {
  margin-top: 8em;
}

footer[role='contentinfo'] {
  margin-bottom: 6em;
}

.layout-section__sub-section + .layout-section__sub-section {
  margin-top: 3em;
}
