# Ignore development directories and files.
sftp-config.json
node_modules

# Ignore generated CSS files and their associated map files.
**/*.css
**/*.css.map

# Ignore generated icons and images.
public/images/icons/generated/*
public/images/screenshots/optimized/*
public/images/screenshots/thumbnails/*

# Ignore generated fonts.
**/fonts/**/woff
**/fonts/**/woff2

# Ignore third-party code.
public/vendor/*
