// -----------------------------------------------------------------------------
//   Focus partial
// -----------------------------------------------------------------------------

@use '../variables/colours' as colour-variables;
@use '../helpers/colour' as colour-helpers;

///
/// Focus outline colour on light backgrounds.
///
$outline-colour-on-light: colour-variables.$material-primary;

///
/// Focus outline colour on dark backgrounds.
///
$outline-colour-on-dark: colour-helpers.invert-lightness(
  colour-variables.$material-primary
);

* {
  outline: 2px solid transparent;

  outline-offset: 2px;

  // Note that this will be removed from Gecko/Firefox at a certain point and
  // border-radius will instead cause the outline to gain a corner radius.
  //
  // @link https://bugzilla.mozilla.org/show_bug.cgi?id=315209
  -moz-outline-radius: 2px;

  &:focus {
    outline-color: $outline-colour-on-light;

    @include colour-helpers.on-dark-scheme {
      outline-color: $outline-colour-on-dark;
    }
  }
}
