// -----------------------------------------------------------------------------
//   Navigation partial
// -----------------------------------------------------------------------------

@use '../helpers/motion';
@use '../layout/config' as layout-config;
@use '../typography/config' as typography-config;
@use '../typography/heading';

///
/// Navigation menu clip-path padding to account for focus outlines.
///
$menu-clip-padding: 4px;

///
/// Navigation menu clip-path value.
///
/// @require {variable} $menu-clip-padding
///
$menu-clip-path: polygon(
  -#{$menu-clip-padding}              -#{$menu-clip-padding},
  calc(100% + #{$menu-clip-padding})  -#{$menu-clip-padding},
  calc(100% + #{$menu-clip-padding})  calc(100% + #{$menu-clip-padding}),
  -#{$menu-clip-padding}              calc(100% + #{$menu-clip-padding})
);

///
/// Navigation menu item hiding transition duration.
///
$menu-transition-duration: 350ms;

///
/// Animation to hide the Home link from keyboard focus and accessibility tree.
///
@keyframes navigation-home-hide {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

.navigation {
  display: flex;

  align-items: center;

  html[dir='ltr'] & {
    margin-left: layout-config.$header-spacing;
  }

  html[dir='rtl'] & {
    margin-right: layout-config.$header-spacing;
  }

  .menu {
    margin:   0;
    padding:  0;

    list-style: none;

    display: flex;

    // This hides the home item when it's transitioning in and out.
    clip-path: $menu-clip-path;
  }

  .menu-item {
    margin-top:   0;

    html[dir='ltr'] & {
      margin-right: layout-config.$header-spacing;
    }

    html[dir='rtl'] & {
      margin-left: layout-config.$header-spacing;
    }

    transition-property: transform;
    transition-duration: $menu-transition-duration;
    transition-timing-function: motion.$easing-standard;

    font-family:  heading.$font-stack;
    font-size:    140%;
    font-weight:  typography-config.$font-weight-strong;

    text-transform: uppercase;

    &:last-child {
      html[dir='ltr'] & {
        margin-right: 0;
      }

      html[dir='rtl'] & {
        margin-left: 0;
      }
    }

    &--hidden {
      // If clip-path is not supported, just hide the menu item.
      display: none;

      @supports (clip-path: $menu-clip-path) {
        display: list-item;
      }

      // This animation removes the hidden link from the tabbing order and
      // accessibility tree.
      //
      // @todo Since we only use this for the Home link and it's largely
      // redundant from an accessibility point of view - given that the logo
      // is right before it and has the same link - would it make more sense to
      // set aria-hidden="true" and tab-index="-1" on the Home link?
      animation-name:             navigation-home-hide;
      animation-duration:         1ms;
      animation-timing-function:  linear;
      animation-fill-mode:        forwards;
      animation-delay:            $menu-transition-duration;

      &, & ~ .menu-item {
        @supports (clip-path: $menu-clip-path) {
          // The first value is roughly the width of the "Home" text. Since
          // we're applying this to all items, we can't just use 100%.
          transform: translateX(-3.9rem - layout-config.$header-spacing);
        }
      }
    }
  }

  // This hides the Home link if there isn't enough room for it horizontally.
  @media (max-width: 23em) {
    .menu-item--home {
      display: none;

      &, & ~ .menu-item {
        // Remove the translateX() that may be set above, since the Home link no
        // longer takes up any space.
        transform: none;
      }
    }
  }
}
