// -----------------------------------------------------------------------------
//   Layout configuration
// -----------------------------------------------------------------------------

///
/// Padding between the site content and the viewport edges.
///
$viewport-padding: 0.5rem;

///
/// Spacing between header elements.
///
$header-spacing: 1rem;

///
/// Site header height.
///
$header-height: 3.5rem;

///
/// Maximum width of the site layout.
///
$max-width: 65rem;

///
/// Stacking order (z-index) for main site layout; later in list is higher.
///
$stacking-order: content, header, persistent-promo, reveal-overlay;

///
/// Minimum viewport width to display content in two columns.
///
$content-two-column-min-width: 40rem;

///
/// Spacing between layout sections.
///
/// This is primarily used between main content layout sections and between the
/// main content and the footer.
///
$section-spacing: 8em;
