// -----------------------------------------------------------------------------
//   Typography output partial
// -----------------------------------------------------------------------------

@use 'config';
@use 'heading';
@use 'responsive';

@include responsive.output;
@include heading.output;

body {
  font-size:    config.$font-size;
  line-height:  1.5;

  // This prevents overly-long words from breaking out of the layout in
  // supporting browsers. Note that overflow-wrap will only break a word if it
  // exceeds the available space, compared to the legacy word-break property,
  // which always breaks words when they exceed the available space.
  //
  // @see https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap
  overflow-wrap: break-word;
}

body, input, textarea {
  font-family:  config.$font-stack;
  font-weight:  config.$font-weight-normal;
}

// These selectors get the bold font weight.
strong, label {
  font-weight: config.$font-weight-strong;
}
