// -----------------------------------------------------------------------------
//   Background partial
// -----------------------------------------------------------------------------

#home {
  background-image: url('../images/home.svg');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
}
