// -----------------------------------------------------------------------------
//   Branding partial
// -----------------------------------------------------------------------------

.site-logo {
  // Required to keep the intrinsic ratio from imploding to zero width due to
  // the display: flex; on .layout-header. Since the logo is square, we can just
  // use the height variable.
  min-width: $header-height;

  &__link {
    border-width: 0;
  }
}

.site-name {
  @include hide-me;
}
