// -----------------------------------------------------------------------------
//   Content partial
// -----------------------------------------------------------------------------

///
/// Minimum viewport width to display content in two columns.
///
$content-two-column-min-width: 40rem;

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;

  $text-shadow-on-light:  0 0 0.5rem $background-colour-light;
  $text-shadow-on-dark:   0 0 0.5rem $background-colour-dark;

  text-shadow:
    $text-shadow-on-light, $text-shadow-on-light, $text-shadow-on-light;

  @include on-dark-colour-scheme {
    text-shadow:
      $text-shadow-on-dark, $text-shadow-on-dark, $text-shadow-on-dark;
  }

  h1, p {
    // This ensures these are above the background image generated content, so
    // that the text-shadow correctly occludes it.
    position: relative;
    z-index: 1;

    // This fixes an issue where the hitting the max responsive font size would
    // cause the height of one of these to get larger than the other, which
    // would cause the background to be misaligned.
    height: calc(50vh - #{$viewport-padding * 3} - #{$header-height});

    margin-top:     0;
    margin-bottom:  0;
  }

  h1 {
    display: flex;
    align-items: flex-end;

    padding-bottom: 1.2rem;

    font-size:      300%;
    font-weight:    $font-weight-normal;
    line-height:    1;
    text-transform: uppercase;
  }

  p {
    max-width: 18em;

    padding-top: 0.7rem;
  }
}

.layout-section__sub-section + .layout-section__sub-section {
  margin-top: 3em;
}

.features-section {
  @media (min-width: $content-two-column-min-width) {
    display: grid;

    grid-template-areas:    "heading      media"
                            "description  media";

    // Reverse the layout every second section. Note that this seems to start at
    // 0 rather than 1, so 0 = odd, 1 = even.
    &:nth-child(odd) {
      grid-template-areas:  "media  heading"
                            "media  description";
    }

    grid-template-columns:  1fr 1fr;
    grid-template-rows:     min-content 1fr;

    grid-gap: 1em;

    @media (min-width: #{$content-two-column-min-width + 10rem}) {
      grid-column-gap: 3em;
    }

    &__media {
      grid-area: media;
    }

    &__heading {
      grid-area: heading;

      @supports (grid-area: heading) {
        margin-top:     -0.15em;
        margin-bottom:  0;

        line-height:    1;
      }
    }

    &__description {
      grid-area: description;

      @supports (grid-area: description) {
        margin-top:     0;
        margin-bottom:  0;
      }
    }
  }
}

.support-content {
  @media (min-width: $content-two-column-min-width) {
    display: grid;

    grid-template-columns:  2fr 1fr;

    grid-gap: 1em;

    // Remove the subsequent section top margin if modern grid is supported, as
    // that's only needed on narrow viewports and if modern is not supported.
    @supports (grid-area: omg) {
      .support-section + .support-section {
        margin-top: 0;
      }
    }
  }

  @media (min-width: #{$content-two-column-min-width + 10rem}) {
    grid-column-gap: 3em;
  }
}

.support-link-list {
  // The icons for each list item make the list markers feel redundant, so we
  // remove the markers.
  list-style: none;

  // Padding + negative text indent allow lines after the first to align with
  // start of first line text, rather than the icon.

  html[dir='ltr'] & {
    padding-left: $icon-size + $icon-text-spacing;
  }

  html[dir='rtl'] & {
    padding-right: $icon-size + $icon-text-spacing;
  }

  text-indent: -#{$icon-size + $icon-text-spacing};
}

///
/// Heading level 2 (h2) styles.
///
/// @require {mixin} on-dark-colour-scheme
///
@mixin heading-level2 {
  margin-bottom: 2rem;

  border-bottom: 1px solid hsl(0, 0, 75%);

  @include on-dark-colour-scheme {
    border-bottom-color: hsl(0, 0, 25%);
  }
}

h2 {
  @include heading-level2;

  summary & {
    margin-bottom: 0;
    border-bottom-width: 0;
  }
}

@include headings {
  text-transform: uppercase;
}

ul {
  html[dir='ltr'] & {
    padding-left: 1em;
  }

  html[dir='rtl'] & {
    padding-right: 1em;
  }
}

li + li {
  margin-top: 0.8em;
}

details summary {
  cursor: pointer;

  @include transition-fade-base;

  &:hover, &:focus {
    @include transition-fade-hover;
  }

  &:hover {
    background-color: mix(
      $background-colour-light, $foreground-colour-on-light, 80%
    );

    @include on-dark-colour-scheme {
      background-color: mix(
        $background-colour-dark, $foreground-colour-on-dark, 80%
      );
    }
  }
}

.credits {
  &__label {
    @include heading-level2;

    @include heading-font-size(2);

    // This resets the heading so that we can apply the heading styles just to
    // the <summary>.
    h2 {
      display: inline;

      font-size: 100%;
    }
  }

  &__list {
    // This lays out the credits list as multiple columns when space allows.
    @supports (column-gap: 2em) {
      // The minimum width of columns when displaying as multiple columns.
      //
      // @link https://developer.mozilla.org/en-US/docs/Web/CSS/column-width
      column-width: 20em;
      // The gap between columns. This must be larger than the padding on lists
      // to accomodate the list markers.
      column-gap:   2em;
    }
  }
}
