// -----------------------------------------------------------------------------
//   Content partial
// -----------------------------------------------------------------------------

///
/// Minimum viewport width to display content in two columns.
///
$content-two-column-min-width: 40em;

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;

  $text-shadow-on-light:  0 0 0.5rem $background-colour-light;
  $text-shadow-on-dark:   0 0 0.5rem $background-colour-dark;

  text-shadow:
    $text-shadow-on-light, $text-shadow-on-light, $text-shadow-on-light;

  @include on-dark-colour-scheme {
    text-shadow:
      $text-shadow-on-dark, $text-shadow-on-dark, $text-shadow-on-dark;
  }

  // To flip the background image for RTL, we use this clever trick:
  //
  // @link https://stackoverflow.com/a/21443680
  html[dir='rtl'] & {
    // This keeps the double flipped <p> on the correct side.
    align-items: end;

    transform: scaleX(-1);
  }

  h1, p {
    flex-grow: 1;

    margin-top:     0;
    margin-bottom:  0;

    // Undo the container's transform.
    html[dir='rtl'] & {
      transform: scaleX(-1);
    }
  }

  h1 {
    display: flex;
    align-items: flex-end;

    padding-bottom: 1.2rem;

    font-size:      300%;
    font-weight:    $font-weight-normal;
    line-height:    1;
    text-transform: uppercase;
  }

  p {
    max-width: 18em;

    padding-top: 0.7rem;
  }
}

.layout-section__sub-section + .layout-section__sub-section {
  margin-top: 3em;
}

.features-section {
  @media (min-width: $content-two-column-min-width) {
    display: grid;

    grid-template-areas:    "heading      media"
                            "description  media";

    // Reverse the layout every second section. Note that this seems to start at
    // 0 rather than 1, so 0 = odd, 1 = even.
    &:nth-child(odd) {
      grid-template-areas:  "media  heading"
                            "media  description";
    }

    grid-template-columns:  1fr 1fr;
    grid-template-rows:     min-content 1fr;

    grid-gap: 1em;

    @media (min-width: #{$content-two-column-min-width + 10em}) {
      grid-column-gap: 3em;
    }

    &__media {
      grid-area: media;
    }

    &__heading {
      grid-area: heading;

      @supports (grid-area: heading) {
        margin-top:     -0.15em;
        margin-bottom:  0;

        line-height:    1;
      }
    }

    &__description {
      grid-area: description;

      @supports (grid-area: description) {
        margin-top:     0;
        margin-bottom:  0;
      }
    }
  }
}

.join-content {
  @media (min-width: $content-two-column-min-width) {
    display: grid;

    grid-template-columns:  2fr 1fr;

    grid-gap: 1em;

    // Remove the subsequent section top margin if modern grid is supported, as
    // that's only needed on narrow viewports and if modern is not supported.
    @supports (grid-area: omg) {
      .join-section + .join-section {
        margin-top: 0;
      }
    }
  }

  @media (min-width: #{$content-two-column-min-width + 10em}) {
    grid-column-gap: 3em;
  }
}

h2 {
  margin-bottom: 2rem;

  border-bottom: 1px solid hsl(0, 0, 75%);

  @include on-dark-colour-scheme {
    border-bottom-color: hsl(0, 0, 25%);
  }
}

@include headings {
  text-transform: uppercase;
}

ul {
  html[dir='ltr'] & {
    padding-left: 1em;
  }

  html[dir='rtl'] & {
    padding-right: 1em;
  }
}

li + li {
  margin-top: 0.8em;
}

details summary {
  cursor: pointer;
}
