// -----------------------------------------------------------------------------
//  Font definitions partial
// -----------------------------------------------------------------------------

$fonts-path: '../fonts';

// Exo 2 font.
//
// @link https://fonts.google.com/specimen/Exo+2
// @link https://github.com/NDISCOVER/Exo-2.0
// @link https://www.npmjs.com/package/@fontsource/exo-2
@font-face {
  font-family: 'Exo2';

  font-weight:  500;
  // Required so that browsers accept multiple declarations of the same font at
  // different weights.
  //
  // @see https://stackoverflow.com/a/21614532
  font-style:   normal;

  // Tell the browser to not make the text invisible while this font is
  // loading, see: https://tabatkins.github.io/specs/css-font-display/
  font-display: swap;

  src:  url('#{$fonts-path}/exo-2/exo-2-latin-500-normal.woff2?v=4.5.7')  format('woff2'),
        url('#{$fonts-path}/exo-2/exo-2-latin-500-normal.woff?v=4.5.7')   format('woff');
}
@font-face {
  font-family: 'Exo2';

  font-weight:  200;
  // Required so that browsers accept multiple declarations of the same font at
  // different weights.
  //
  // @see https://stackoverflow.com/a/21614532
  font-style:   normal;

  // Tell the browser to not make the text invisible while this font is
  // loading, see: https://tabatkins.github.io/specs/css-font-display/
  font-display: swap;

  src:  url('#{$fonts-path}/exo-2/exo-2-latin-200-normal.woff2?v=4.5.7')  format('woff2'),
        url('#{$fonts-path}/exo-2/exo-2-latin-200-normal.woff?v=4.5.7')   format('woff');
}
