// -----------------------------------------------------------------------------
//   Site header partial
// -----------------------------------------------------------------------------

.layout-header {
  &--initialized {
    transition-property:        transform;
    transition-duration:        200ms;
    transition-timing-function: $easing-standard;

    will-change: transform;
  }

  &--pinned {
    transform: translateY(0%);
  }
  // This shows the header if anything within it becomes focused, overriding
  // Headroom.js.
  &:focus-within {
    transform: translateY(0%);
  }
  &--unpinned {
    transform: translateY(-100%);
  }
}
