// -----------------------------------------------------------------------------
//   Layout partial
// -----------------------------------------------------------------------------

$viewport-padding: 0.5em;

$header-spacing: 1rem;

///
/// Site header height.
///
$header-height: 3.5em;

///
/// Maximum width of the site layout.
///
$layout-max-width: 65em;

///
/// Stacking order (z-index) for main site layout; later in list is higher.
///
$layout-stacking-order:  header, reveal-overlay;

body {
  margin:   0;
  padding:  0;
}

.layout-container {
  // These two are required for the reveal overlay.
  position:   relative;
  overflow-x: hidden;

  max-width: $layout-max-width;

  margin-left:  auto;
  margin-right: auto;

  padding: $viewport-padding;
}

.layout-header {
  @supports (display: flex) and (box-sizing: border-box) and (scroll-padding-top: 1px) {
    position: fixed;

    z-index: index($layout-stacking-order, header);

    display: flex;

    width: 100%;

    margin-top:   -$viewport-padding;
    margin-left:  -$viewport-padding;
    margin-right: -$viewport-padding;

    padding: $viewport-padding;

    box-sizing: border-box;
  }
}

.layout-section {
  min-height: calc(100vh - #{$viewport-padding * 3} - #{$header-height});

  // This accounts for the fixed header over the first section.
  &:first-child {
    margin-top: $viewport-padding + $header-height;
  }
}

.layout-section + .layout-section {
  margin-top: 8em;
}

footer[role='contentinfo'] {
  margin-bottom: 6em;
}
