// -----------------------------------------------------------------------------
//   Link element partial
// -----------------------------------------------------------------------------

///
/// Link colour on light backgrounds when not highlighted/activated.
///
$link-normal-colour-on-light: $material-primary-colour;

///
/// Link colour on dark backgrounds when not highlighted/activated.
///
/// @require {variable} $$material-primary-colour
/// @require {function} invert-lightness
///
$link-normal-colour-on-dark: invert-lightness($material-primary-colour);

///
/// Link colour on light backgrounds when hovered/focused.
///
$link-hover-colour-on-light: lighten($link-normal-colour-on-light, 10%);

///
/// Link colour on dark backgrounds when hovered/focused.
///
$link-hover-colour-on-dark: lighten($link-normal-colour-on-dark,  10%);

///
/// Link colour on light backgrounds when activated.
///
$link-active-colour-on-light: rgba($link-normal-colour-on-light, 0.6);

///
/// Link colour on dark backgrounds when activated.
///
$link-active-colour-on-dark: rgba($link-normal-colour-on-dark, 0.6);

///
/// Link underline colour on light backgrounds when not highlighted/activated.
///
$link-underline-normal-colour-on-light: rgba($link-normal-colour-on-light, 0.6);

///
/// Link underline colour on dark backgrounds when not highlighted/activated.
///
$link-underline-normal-colour-on-dark: rgba($link-normal-colour-on-dark, 0.6);

///
/// Link underline colour on light backgrounds when hovered/focused.
///
$link-underline-hover-colour-on-light: $link-hover-colour-on-light;

///
/// Link underline colour on dark backgrounds when hovered/focused.
///
$link-underline-hover-colour-on-dark: $link-hover-colour-on-dark;

///
/// Link underline colour on light backgrounds when activated.
///
$link-underline-active-colour-on-light: $link-active-colour-on-light;

///
/// Link underline colour on dark backgrounds when activated.
///
$link-underline-active-colour-on-dark: $link-active-colour-on-dark;

:any-link {
  color: $link-normal-colour-on-light;
  text-decoration-color: $link-underline-normal-colour-on-light;

  @include transition-fade-normal;

  &:hover {
    color: $link-hover-colour-on-light;
    text-decoration-color: $link-underline-hover-colour-on-light;

    @include transition-fade-hover;
  }

  &:active {
    color: $link-active-colour-on-light;
    text-decoration-color: $link-underline-active-colour-on-light;
  }

  @include on-dark-colour-scheme {
    color: $link-normal-colour-on-dark;
    text-decoration-color: $link-underline-normal-colour-on-dark;

    &:hover {
      color: $link-hover-colour-on-dark;
      text-decoration-color: $link-underline-hover-colour-on-dark;
    }

    &:active {
      color: $link-active-colour-on-dark;
      text-decoration-color: $link-underline-active-colour-on-dark;
    }
  }
}

.ambientimpact-link-has-image {
  display: block;
}
