// -----------------------------------------------------------------------------
//   Navigation partial
// -----------------------------------------------------------------------------

.navigation {
  display: flex;

  align-items: center;

  html[dir='ltr'] & {
    margin-left: $header-spacing;
  }

  html[dir='rtl'] & {
    margin-right: $header-spacing;
  }

  .menu {
    margin:   0;
    padding:  0;

    list-style: none;

    display: flex;
  }

  .menu-item {
    margin-top:   0;

    html[dir='ltr'] & {
      margin-right: $header-spacing;
    }

    html[dir='rtl'] & {
      margin-left: $header-spacing;
    }

    font-family:  $heading-font-stack;
    font-size:    140%;
    font-weight:  $font-weight-strong;

    text-transform: uppercase;

    &:last-child {
      html[dir='ltr'] & {
        margin-right: 0;
      }

      html[dir='rtl'] & {
        margin-left: 0;
      }
    }
  }

  // This hides the home link if there isn't enough room for it horizontally.
  @media (max-width: 26em) {
    .menu-item--home {
      display: none;
    }
  }
}
