// -----------------------------------------------------------------------------
//   Persistent promo partial
// -----------------------------------------------------------------------------

///
/// Minimum viewport width to display persistent promo in two columns.
///
$persistent-promo-two-column-min-width: 50rem;

///
/// Persistent promo icon size.
///
$persistent-promo-icon-size: 1.95em;

///
/// Persistent promo drop shadow filter value on light backgrounds.
///
$persistent-promo-drop-shadow-on-light:
  drop-shadow(0 0 0.8rem $background-colour-light);

///
/// Persistent promo drop shadow filter value on dark backgrounds.
///
$persistent-promo-drop-shadow-on-dark:
  drop-shadow(0 0 0.3rem $background-colour-dark);

///
/// Persistent promo reveal animation keyframes.
///
@keyframes persistent-promo-reveal {
  0% {
    transform: translateY(calc(100% + #{$viewport-padding}));
  }
  100% {
    transform: translateY(0%);
  }
}

.persistent-promo {
  // Replace default list styles.
  margin:     0 auto;
  padding:    $viewport-padding !important;
  list-style: none;

  // Remove the margin between list items if modern grid is supported.
  @supports (grid-area: auto) {
    &__item + &__item {
      margin-top: 0;
    }
  }

  max-width:  $layout-max-width;

  position: fixed;

  left:     0;
  right:    0;
  bottom:   0;

  @supports (grid-area: auto) {
    display: grid;
    grid-gap: $viewport-padding;

    grid-template-columns: minmax(min-content, 1fr);
    justify-items: start;

    @media (min-width: $persistent-promo-two-column-min-width) {
      grid-template-columns: repeat(2, max-content);
    }
  }

  // Disable pointer events so that empty areas of the list don't block clicks/
  // taps to content underneath. This is undone in &__item {} rule lower down.
  pointer-events: none;

  // Light shadow is extra heavy.
  filter:
    $persistent-promo-drop-shadow-on-light
    $persistent-promo-drop-shadow-on-light
    $persistent-promo-drop-shadow-on-light;

  @include on-dark-colour-scheme {
    // Dark shadow is more subtle with only one shadow.
    filter: $persistent-promo-drop-shadow-on-dark;
  }

  &__item {
    font-family:    $heading-font-stack;
    font-weight:    $font-weight-strong;
    font-size:      150%;
    text-transform: uppercase;

    // Re-enable clicking/tapping on list items.
    pointer-events: auto;

    :any-link {
      position: relative;

      @supports (grid-area: auto) {
        display:  grid;
        align-items: center;
      }

      min-height: 1.5em;

      padding-top:    0.4em;
      padding-bottom: 0.4em;

      html[dir='ltr'] & {
        padding-left:   0.5em;
        padding-right:  0.8em;
      }
      html[dir='rtl'] & {
        padding-left:   0.8em;
        padding-right:  0.5em;
      }

      border-radius: 4em;

      color: $foreground-colour-on-dark;

      text-decoration-color: rgba($foreground-colour-on-dark, 0.6);

      &:hover {
        text-decoration-color: $foreground-colour-on-dark;
      }

      &:active {
        color: rgba($foreground-colour-on-dark, 0.6);
        text-decoration-color: rgba($foreground-colour-on-dark, 0.6);
      }

      &::before {
        content: '';

        display:  inline-block;

        position: absolute;

        left: 0.15em;
        top:  50%;

        z-index: 1;

        width:  $persistent-promo-icon-size;
        height: $persistent-promo-icon-size;

        margin-top: calc(#{$persistent-promo-icon-size} / 2 * -1);

        border-radius: 100%;

        background-color: $foreground-colour-on-dark;
      }

      // This converts the icons to grid so that things line up well vertically
      // and in edge cases where the text doesn't have enough room and must wrap
      // to a second line.
      .ambientimpact-icon {
        position: relative;
        z-index: 2;

        @supports (grid-area: auto) {
          display: grid;
          grid-template-columns: min-content 1fr;
          grid-column-gap: 1.1em;
          align-items: center;
        }

        &__icon {
          html[dir='ltr'] & {
            padding-right:  0;
          }

          html[dir='rtl'] & {
            padding-left:   0;
          }
        }
      }
    }
  }

  &__kickstarter {
    :any-link {
      background-color: $kickstarter-green;
    }

    .ambientimpact-icon__icon {
      // Black Lives Matter black.
      fill: black;
    }

    @media (max-width: 30em) {
      // Reduce the Kickstarter font size on narrow screens to attempt to fit
      // more text on one line.
      .ambientimpact-icon__text {
        font-size: 85%;
      }
    }
  }

  &__trailer {
    :any-link {
      // We're using Omnipedia blue rather than Vimeo's blue here as it Vimeo's
      // clashes a bit with our colour scheme.
      background-color: $omnipedia-blue;
    }

    // Use Vimeo blue for the play icon.
    .ambientimpact-icon__icon {
      fill: $vimeo-blue;

      position: relative;
      // This needs shifting slightly to make it feel properly centred. Magic
      // number alert.
      left: $persistent-promo-icon-size * 0.077;
    }
  }

  // Slides the list and list items into view after a short delay on loading.
  @media (prefers-reduced-motion: no-preference) {
    &,
    &__item + &__item {
      animation-name:             persistent-promo-reveal;
      animation-duration:         0.4s;
      animation-timing-function:  ease-out;
      animation-fill-mode:        backwards;
    }

    // Short delay to hopefully run the animation after the DOM has been built
    // to reduce the chances of stutter.
    animation-delay:              0.6s;

    // Apply a longer delay to the second list item for a staggered effect.
    &__item + &__item {
      animation-delay:            1s;
    }
  }

  // Headroom.js stuff follows. Note that the slide effect is still applied if
  // the user prefers reduced motion as it adds a sense of where the items are
  // going to or coming from, but the staggered effect is disabled in this case.

  // Headroom.js initialized properties.
  &--initialized,
  &--initialized &__item + &__item {
    transition-property:        transform;
    transition-duration:        200ms;
    transition-timing-function: ease-in-out;

    will-change: transform;
  }

  // Shows the items when Headroom.js considers them pinned.
  &--pinned,
  &--pinned &__item + &__item {
    transform: translateY(0%);
  }

  // Shows list and items if anything within the list becomes focused,
  // overriding whether Headroom.js considers this unpinned.
  &:focus-within,
  &:focus-within &__item + &__item {
    transform: translateY(0%);
  }

  // Hides the list and items if Headroom.js marks the unpinned.
  &--unpinned,
  &--unpinned &__item + &__item {
    transform: translateY(calc(100% + #{$viewport-padding}));
  }

  // This adds a brief delay on the second list item's transition to give it a
  // bit more personality and physicality.
  @media (prefers-reduced-motion: no-preference) {
    &__item + &__item {
      transition-delay: 100ms;
    }
  }
}
