// -----------------------------------------------------------------------------
//   Scroll partial
// -----------------------------------------------------------------------------

html {
  scroll-behavior: smooth;

  // Disable smooth scrolling if the user has indicated they prefer reduced
  // motion. This seems to be more dependable than negating the condition and
  // wrapping scroll-behavior: smooth; in Chrome 83 on Android.
  //
  // @see https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  // This offsets the scrolling to a #hash by the height of the fixed header.
  scroll-padding-top: $header-height + ($viewport-padding * 2);
}
