// -----------------------------------------------------------------------------
//   Home background partial
// -----------------------------------------------------------------------------

@use '../../helpers/colour' as colour-helpers;
@use '../../variables/colours' as colour-variables;

#home {

  &::after {

    // Tell the Webpack css-loader to not try and resolve this so that we don't
    // end up with the path incorrectly nested. MiniCssExtractPlugin will still
    // resolve this correctly, and as a result, this is still defined as
    // relative to this partial and not the non-partial SCSS or compiled CSS
    // file.
    //
    // @see https://webpack.js.org/loaders/css-loader/#disable-url-resolving-using-the--webpackignore-true--comment
    //
    // @todo Implement proper path resolving in webpack.config.js
    //
    /* webpackIgnore: true */
    background-image:     url('../../../images/home.svg?v=2');
    background-repeat:    no-repeat;
    background-position:  0 50%;
    background-size:      contain;

    // This scales the background to the left of the skull slightly to position
    // the right ends of the lines on top of it.
    transform:        scale(0.85);
    transform-origin: left;

    // The background image doesn't contrast well against the light colour theme
    // background colour, so we reduce the brightness and increase the
    // saturation.
    --adjustment-filters: brightness(65%) saturate(150%);

    --drop-shadow-filters: ;

    filter: var(--adjustment-filters) var(--drop-shadow-filters);

    // This helps the lines stand out on top of the skull.
    --blend-mode: color-dodge;

    mix-blend-mode: var(--blend-mode);

    @include colour-helpers.on-dark-scheme {

      // Remove the adjustment filters and blend mode on the dark colour
      // theme...
      --adjustment-filters: ;
      --blend-mode: ;

      // ...and add a drop shadow to outline the lines against the skull.
      --drop-shadow-filters: drop-shadow(0 0 0.15rem #{
        colour-variables.$background-dark
      });

    }

  }

}
