// -----------------------------------------------------------------------------
//   Home typography partial
// -----------------------------------------------------------------------------

@use '../../helpers/colour' as colour-helpers;
@use '../../variables/colours' as colour-variables;

#home {

  $text-shadow-on-light:  0 0 0.5rem colour-variables.$background-light;
  $text-shadow-on-dark:   0 0 0.5rem colour-variables.$background-dark;

  text-shadow:
    $text-shadow-on-light, $text-shadow-on-light, $text-shadow-on-light;

  @include colour-helpers.on-dark-scheme {
    text-shadow:
      $text-shadow-on-dark, $text-shadow-on-dark, $text-shadow-on-dark;
  }

  h1 {

    // Note that the breakpoints and sizes are specifically chosen to avoid
    // overlapping the skull as much as possible.

    font-size:      200%;

    @media (min-width: 24em) {
      font-size:    215%;
    }

    @media (min-width: 26em) {
      font-size:    250%;
    }

    @media (min-width: 32em) {
      font-size:    300%;
    }

    & {

      // Explicitly set weight rather than use $font-weight-* variables as this
      // needs to be art directed separately.
      font-weight:    200;
      line-height:    1;
      text-transform: uppercase;

    }

  }

}
