// -----------------------------------------------------------------------------
//   Home background partial
// -----------------------------------------------------------------------------

@use '../../helpers/colour' as colour-helpers;

#home {

  &::after {

    // Tell the Webpack css-loader to not try and resolve this so that we don't
    // end up with the path incorrectly nested. MiniCssExtractPlugin will still
    // resolve this correctly, and as a result, this is still defined as
    // relative to this partial and not the non-partial SCSS or compiled CSS
    // file.
    //
    // @see https://webpack.js.org/loaders/css-loader/#disable-url-resolving-using-the--webpackignore-true--comment
    //
    // @todo Implement proper path resolving in webpack.config.js
    //
    /* webpackIgnore: true */
    background-image:     url('../../../images/home.svg?v=2');
    background-repeat:    no-repeat;
    background-position:  0 50%;
    background-size:      contain;

    // The background image doesn't contrast well against the light colour theme
    // background colour, so we reduce the brightness and increase the
    // saturation.
    filter: brightness(65%) saturate(150%);

    // Remove the filters on the dark colour theme.
    @include colour-helpers.on-dark-scheme {
      filter: none;
    }

  }

}
