// -----------------------------------------------------------------------------
//   Typography heading partial
// -----------------------------------------------------------------------------

@use 'config';
@use '../helpers/colour' as colour-helpers;
@use 'sass:list';
@use 'sass:math';
@use 'sassy-cast';
@use 'responsive' as typography-responsive;

///
/// Heading selector.
///
$selector: 'h1, h2, h3, h4, h5, h6' !default;

///
/// Heading selector shortcut.
///
$h1to6: $selector !default;

///
/// Heading font sizes when not using responsive type.
///
/// These are h1 to h6 in that order.
///
$font-sizes: 2em, 1.6em, 1.4em, 1.2em, 1em, 1em !default;

/// Heading font scales when using responsive type.
///
/// These are used as the exponent, with the font scale as the base number.
/// These are h1 to h6 in that order.
///
$font-exponents:  3.5, 2.75, 2, 1, 1, 1 !default;

///
/// The unit to use for headings when using responsive type.
///
$font-scale-unit: 'em' !default;

///
/// The heading font stack.
///
/// This is Wikipedia's heading font-family, but with Exo 2 as the first choice.
///
$font-stack: 'Exo 2', 'Linux Libertine', 'Georgia', 'Times', serif;

///
/// The heading font weight.
///
$font-weight: config.$font-weight-strong !default;

///
/// Apply styles to a range of headings.
///
/// @param {Number} $from [1]
///   The heading level to start at, inclusive.
///
/// @param {Number} $to [6]
///   The heading level to end at, inclusive.
///
/// @content
///   Styles to apply for the given heading levels.
///
/// @link https://jsfiddle.net/jitendravyas/cxJtc/light/
///   Inspired by this mixin by jitendravyas on JSFiddle.
///
@mixin headings($from: 1, $to: 6) {
  $selector: ();

  @if ($from < 1) {
    @warn '$from cannot be lower than "1", was passed "#{$from}".';

    $from: 1;
  }

  @if ($to > 6) {
    @warn '$from cannot be greater than "6", was passed "#{$to}".';

    $to: 6;
  }

  @for $i from $from through $to {
    $selector: list.append($selector, 'h' + $i, comma);
  }

  #{$selector} {
    @content;
  }
}

///
/// Set heading font size for a given heading level.
///
/// @param {Number} $level
///   The heading level; should be 1 to 6.
///
/// @require {mixin} responsive-type
/// @require {variable} $use-responsive-type
/// @require {variable} $font-scale-width-min
/// @require {variable} $font-scale-width-max
/// @require {variable} $font-scale-min
/// @require {variable} $font-exponents
/// @require {variable} $font-scale-unit
///
@mixin font-size($level) {
  // Use the static heading sizes by default in case the browser doesn't
  // understand calc() or responsive type is disabled.
  font-size: list.nth($font-sizes, $level);

  @if typography-responsive.$use-responsive-type == true {
    @include typography-responsive.responsive-type(
      font-size,
      typography-responsive.$font-scale-width-min,
      typography-responsive.$font-scale-width-max,
      math.pow(
        typography-responsive.$font-scale-min,
        list.nth($font-exponents, $level)
      ) * sassy-cast.to-number('1' + $font-scale-unit),
      math.pow(
        typography-responsive.$font-scale-max,
        list.nth($font-exponents, $level)
      ) * sassy-cast.to-number('1' + $font-scale-unit)
    );
  }
}

///
/// Heading level 2 (h2) styles.
///
/// @require {mixin} colour-helpers.on-dark-scheme
///
@mixin level2 {

  margin-bottom: 2rem;

  border-bottom: 1px solid hsl(0, 0%, 75%);

  @include colour-helpers.on-dark-scheme {
    border-bottom-color: hsl(0, 0%, 25%);
  }

}

///
/// Output base heading styles.
///
/// @require {mixin} headings
/// @require {mixin} font-size
/// @require {variable} $font-stack
/// @require {variable} $font-weight
///
@mixin output {

  @include headings {

    // Apply heading font stack and weight to all headings.
    font-family: $font-stack;
    font-weight: $font-weight;

    text-transform: uppercase;

  }

  // Apply heading font sizes. This has to be done individually, per level.
  @for $i from 1 through 6 {

    h#{$i} {
      @include font-size($i);
    }

  }

  h2 {
    @include level2;
  }

}
